html,body {
    margin: 0%;
    padding: 0%;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    background-color: #ffff;
  }
  
  ul,
  ol {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .home {
    background-color: rgb(18 29 51);
    background-image: url(~/public/assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: rgb(255, 255, 255);
    height: 75vh;
    padding-top: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about{
    background-color: rgb(18 29 51);
    /* background-image: url(~/public/assets/background.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: rgb(255, 255, 255);
    height: 65vh;
    padding-top: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact{
    background-color: rgb(18 29 51);
    /* background-image: url(~/public/assets/background.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: rgb(255, 255, 255);
    height: 100vh;
    padding-top: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .members{
    background-color: rgb(18 29 51);
    /* background-image: url(~/public/assets/background.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: rgb(255, 255, 255);
    height: 100vh;
    padding-top: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .steeringCommitte{
    background-color: rgb(18 29 51);
    /* background-image: url(~/public/assets/background.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: rgb(255, 255, 255);
    min-height: 100vh;
    padding-top: 4.8rem;
    display: flex;
    justify-content: center;
  }
  
  .primary-color{
    color: #5aadec;
  }
  
  .flex-row-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  
  .flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  
  }
  
  @media only screen and (max-height: 814px) {
    .home {
      height: 85vh;
    }
  
    .about {
      height: 85vh !important;
    }
  
    .contact {
      height: 110vh;
    }
  }
  
  @media only screen and (max-width: 570px) {
  
    .about {
      height: 65vh;
    }
  
  }
  